<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <p style="
        background-color: #b8dee2;
        padding: 10px;
        margin-bottom: 20px;
        line-height: 1.6;">
            <strong>DEMO VERSION:</strong><br>
            Username: admin<br>
            Password: LightSpeed405</p>
        </p>
        <form method="post" action="/admin/login">
            <label for="username">Username</label>
            <input id="username" type="text" name="username">
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
            <button>Submit</button>
        </form>
    </body>
</html>