@import "_variables";

body {
    margin: 0;
}

#app {
    font-family: 'IBM Plex Sans', serif;
    font-size: 100%;
    color: #0c0c0c;
}

span {
    font-family: 'IBM Plex Sans', serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

.el-page-header {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px 20px;
    margin-bottom: 25px;
}

.el-alert {
    margin: 0 !important;
    padding: 0 !important;
}

.el-alert__title {
    font-size: 1em !important;
}

.el-pagination {
    margin-top: 30px;
}

.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin: 25px 0;
}

.title {
    &--primary {
        font-size: 2.5em;
        font-weight: 500;
        margin: 10px 0 0 0;
    }
    &--secondary {
        font-size: 1.6em;
        margin: 20px 0;
    }
    &--tertiary {
        font-size: 1.3em;
        font-weight: 500;
        margin: 10px 0 20px 0;
    }
    &--backgrounded {
        background: #fff;
        border-radius: 10px;
        padding: 20px;
    }
}

a {
    text-decoration: none;
    color: #409EFF;
}

@keyframes flash {
    0% {
        box-shadow: 0 0 3px 0 #f4faff;
        transform: translateY(13px);
    }
    100% {
        box-shadow: 0 0 7px 1px #144e85;
        transform: translateY(9px);
    }
}

.tutorial-tooltip {
    background: #f4faff !important;
    border: none !important;
    animation: flash 1.3s ease 0.4s infinite alternate;
    .popper__arrow[x-placement=bottom]::after {
        border-bottom-color: #f4faff !important;
    }
    .popper__arrow[x-placement=right]::after {
        border-right-color: #f4faff !important;
    }
    .el-popover__title {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
    }
}